.priceTag {
    background: #3cbcff;
    padding: 4px;
    color: white;
    border: 1px;
    border-radius: 5px 2px;
    font-weight: bold;
    display: initial;
}

.abtn {
    color: white;
    font-weight: bold;
    float: right;
    margin-top: -5px !important;
    background: #3cbcff !important;
    font-weight: bold;
}
.abtn:hover{
    color: white !important;
}

.compareLink:hover {
    color: black !important;
    cursor: pointer;
}
.cartItem{
    background-color: white;
    color: blueviolet;
    padding: 5px;
    width: 100px;
    height: 25px;
    border-radius: 50px;
    margin-top: -10px
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

    